<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.mapper.playInfoMapper">
    <!--放映影院信息添加-->
    <insert id="playInfoInsert" parameterType="cn.bdqn.domain.playInfo">
        INSERT  INTO playinfo(filmID,cinemaID,startTime,endTime,sellingFare)VALUES(filmID=#{filmID},cinemaID=#{cinemaID},cinemaID=#{cinemaID},startTime=#{startTime},endTime=#{endTime},sellingFare=#{sellingFare})
    </insert>
    <!--放映影院信息更新修改-->
    <update id="playInfoUpdate" parameterType="cn.bdqn.domain.playInfo">
    UPDATE playinfo
    <trim prefix="set" suffixOverrides=",">
    <if test="filmID !=null and filmID !=''">
        filmID=#{filmID},
    </if>
        <if test="cinemaID != null and cinemaID ！=''">
            cinemaID=#{cinemaID},
        </if>
        <if test="startTime !=null and startTime !=''">
            startTime=#{startTime},
        </if>
        <if test="endTime !=null and endTime !=''">
            endTime=#{endTime},
        </if>
         <if test="sellingFare !=null and sellingFare !=''">
             sellingFare={sellingFare}
         </if>
     </trim>
        WHERE playID= #{playID}
    </update>

    <!--根据放映信息ID进行删除-->
    <delete id="playinfoDelete" parameterType="Integer">
        DELETE
        FROM playinfo
        where playID=#{playID}
    </delete>
    <!--根据电影删除Id-->
    <delete id="deleteCinema" parameterType="Integer">
        DELETE
        FROM playinfo
        WHERE cinemaID=#{cinemaID}
    </delete>
    <!--根据影片删除Id-->
    <delete id="filminfoDelete" parameterType="Integer">
       DELETE
       FROM playinfo
       WHERE filmID=#{filmID}
    </delete>
    <!--查询电影影院ID,当前时间，结束时间-->
    <select id="selectFilmID" resultType="cn.bdqn.domain.playInfo">
        SELECT *
        from playinfo as p,filminfo as i,filmtype as t,cinema as c
        WHERE i.typeID=t.typeID AND p.filmID=i.filmID AND p.cinemaID=c.cinemaID
        AND i.filmID=#{filmID} AND p.startTime &gt;#{dangDateString}
        AND p.endTime &lt; #{houDateString} ORDER BY p.startTime
    </select>

    <!--查询电影D,当前时间，结束时间；-->
    <select id="selectCinemaID" resultType="cn.bdqn.domain.playInfo">
        SELECT *
        FROM playinfo as p,filminfo as i,filmtype as t,cinema as c
        WHERE i.typeID=t.typeID and p.filmID=i.filmID and p.cinemaID=c.cinemaID
         and c.cinemaID=#{cinemaID} and p.startTime &gt;#{dangDateString} and p.endTime &gt;#{houDateString} ORDER BY p.startTime
    </select>
    <!--根据电影放映信息表Id查询,-->
    <select id="selectPlayID" resultType="cn.bdqn.domain.playInfo">
        SELECT *
        FROM playinfo as p,filminfo as i,cinema as c
        WHERE  p.filmID=i.filmID and p.cinemaID=c.cinemaID and p.playID=#{playID}
    </select>
</mapper>