/*首页dt、dd标签的适量修改*/
.navbar-nav .dl-horizontal>div{
	border-bottom: #000000 solid 1px;
}
.navbar-nav .dl-horizontal{
	height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
	width: 300px;
}
.navbar-nav .dl-horizontal dt{
	width: 20px;
	font-size: 18px;
}
.navbar-nav .dl-horizontal dd{
	display: inline-block;
	margin-left: 20px;
}
.navbar-nav .dl-horizontal dd:hover{
	background-color: #F05A65;
}
/*导航的修改*/
.navbar-brand>span{
	font-size: 30px;
	font-weight: bolder;
	color: red;
}
.navbar-nav{
	font-size: 17px;
}
.navbar-right{
	transform: translateX(-50px);
}
#denglubody{
	height: 140px;
}
#inputPassword,#inputText{
	position: relative;
    bottom: 10px;
}
#denglubody .form-group{
	position: relative;
}
#denglubody .help-block{
	position: absolute;
    right: 10%;
    top: 29%;
}
#xinxiform>.modal-footer{
	clear: both;
}
#xiuGaibody{
	width: 75%;
	float: right;
}
#xiuGaibody label{
	position: relative;
	top: -1px;
}
.form-group{
	padding: 15px;
}
#denglubody .help-block{
	font-size: 12px;
}
#imgform{
	position: absolute;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}


.a-upload {
    padding: 7px 10px;
    height: 30px;
    width: 140px;
    line-height: 20px;
    position: absolute;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    z-index: 3;
    left: 15px;
    bottom: -20px;
    text-align:center;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
.guDing{
	position: fixed;
	bottom: 0px;
	right: 100%;
	z-index: 1000;
}
.guDing>span{
	position: absolute;
	display: inline-block;
	left: 94%;
	top: 30%;
	z-index: 10;
	color: white;
	transform: scale(4);
	cursor:pointer;
}
/*成功或失败提示信息*/
.type_TiShi{
	position: fixed;
	left: 40%;
	top: 10%;
	width: 300px; 
	z-index: 10000;
	
}
.title_header{
	color: red; 
	border-bottom-color: red; 
	border-bottom-width: 2px; 
	border-bottom-style: solid;
}
#userName{
	padding-top: 15px;
	padding-bottom: 15px;
	cursor:pointer;
}
/*小手图标*/
#userName,.guDing>span{
	cursor:pointer;
}
/*电影图片样式*/
.ji{
	position:relative;;
	transform-style: preserve-3d;
	
}
.ji:affter{
	content: "";
	display: block;
	clear: both;
}
.ji>div{
	/*需要修改*/
	/*可以使用定位作为一个模块*/
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 5px;
	cursor:pointer;
}
.xin{
	position: absolute;
	background: #000000;
	opacity: 0.7;
	z-index: 10;
	top: 0px;
	left: 0px;
	color: white;
	font-weight: bolder;
	display: none;
	top: 5px;
}
.ji ul>li{
	line-height: 38px;
}
.ji>div>div{
	line-height: 35px;
	text-align: center;
	bottom: 0px;
	height: 35px;
	background: red;
	border: 1px #000000 solid;
	border-top: 0px;
	top: 0px;
}
.ji>div>img{
	width:198px;
	height:300px;
}